  
<div class="jumbotron">
    <div class="row">
        <div class="col">
            <h4 >List of active surveys</h4>
        </div>
        <div class="form-group col mb-4">
            <div class="search form-group col mb-4">
            
              </div>
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 5%">
      <div class="card scroller">
        <table mdbTable mdbTableScroll scrollx="true" maxWidth="400" class="table table-sm table-striped table-hover" >
          <thead>  
            <tr>
              <th class="th-sm">Id</th>
              <th class="th-sm">Title</th>
              <th class="th-sm">Description</th>
              <th class="th-sm">Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- *ngFor="let n of mydata -->
            <tr  >
                <td>1<td>
                <td>me</td>
                <td>cool</td>
                <td>positive</td>
              <td><button class="btn btn-results" style="background-color:grey">Results</button> </td>
              <td><button class="btn btn-dark" style="background-color:#011345">Take Survey</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
  