<section class=" gradient-custom">
    <div class="container ">
        <div class="row justify-content-center align-items-center ">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <div class="text-center">
                            <img src="../../../assets/images/loginicon.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                              width="100px" alt="profile">
                            <h2 class="text-center text-dark mt-2 mb-3">SurvApp</h2>
                        </div>
                        <form [formGroup]="Form" (ngSubmit)="onSubmit()">

                            <p>{{logedtype}}</p>
                            <p>{{logeduser}}</p>
                            <div class="form-group col mb-4">
                                <label>Email </label>
                                <input type="text" formControlName="email" placeholder="email" class="form-control" [ngClass]="{ 'is-invalid':submitted && f['email'].errors }"/>
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                                    <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                                </div>
                            </div>
                                
                            <div class="form-group col mb-4">
                                <label>Password</label>
                                <input type="text" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid':submitted && f['password'].errors }"/>
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                                    <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 character</div>
                                    <div *ngIf="f['password'].errors['maxlength']">Password must not exceed 40 character</div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                                  </div>
                                </div>
                            
                                <div class="col" style="float:right; right:0%;">
                                  <a routerLink="#">Forgot password?</a>
                                </div>
                            </div>
                          
                            <div class="form-group mt-3">
                                <button type="submit" class="submit btn btn-success btn-block btn-lg">Login</button>
                            </div>
                        </form>
                        <div class="form-group ">
                            <p>Not a member?  <a routerLink='/signup'>Signup</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
