
<div class="container  ">
  <div class="homepage"> 
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6 ">
        <div class="card">
          <div class="card-body">
            <span class="border border-danger">
    
              <p class="mt-5 mb-2"> Hi! welcome  to SurvApp.<br>
                Have you signed up? <br>
                By signing up you enter into a wholesome experience<br> 
                of multiple informative surveys.
              </p>
              
              <p>SurvApp provides you with different kinds of surveys that<br> 
                allow 
                you to express yourself according the what you like!
              </p>
              <br>
              <button routerLink="/signup">  get started</button>
              <br>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

