#surveyCreator {
    height: 100vh;
    width: 100vw;
}
button{
    margin-left: 2em;
}
.mb-42 {
    text-align: center;
}
.mb-41{
    margin-left: 1em;
}
.btn-red{
    width: 13%;
    height: 20%;
    color: white;
}
// .btn-submit{
//     margin-right: 100px;
// }