.container{
    padding: 10em 0; 
}
h2 {
    font-family: 'Chango', cursive;
    font-size: 2em;
    color: #222;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
}

.message{
    text-align: center;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #222;
}
a{
    text-decoration: none;
    color: red;
}
