<div class="container">
    <div class="row justify-content-center">
        <div class="col-2">
            <img src="../../../assets/images/error-icon.jpeg" alt="error-pic" width="200" height="200">
        </div>
        <div class="col-2 p-4 p-md-5 ">
            <h2 class="mt-4">Error<br>404</h2>


            
        </div>
        <div class="message">
            <p>The page you are looking for might have been removed its <br> name changed or is temporarily unavailable.
                <a routerLink='users/signin' >Back to homepage</a>
            </p>
        </div>
    </div>
</div>
