footer{
    background-color: #527589;
    bottom: 0;
    position: fixed;
    width: 100%;
}
footer .footer-body p{
    text-align: center;
    color: #ffff;
}

footer .footer-body i{
    color: red;
}
